
<ul class="breadcrumb">
  <li><a href="/">Главная</a> <span class="divider">/</span></li>
  <li><a href="/questions">Опросы</a> <span class="divider">/</span></li>
  <li class="active">Создать</li>
</ul>

<h2>Новый опрос</h2>

<%= render 'form' %>