<!DOCTYPE html>
<html>
<head>
  <title>Опросы</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>




	<div class="row clearfix">
		<div class="col-md-12 column">
			
			<!--top-->
			<div class="navbar navbar-fixed-top">
  			<div class="navbar-inner">
    			<a class="brand" href="/">Опросы</a>
    			<form class="navbar-search pull-right">
  					<input type="text" class="search-query" placeholder="Search">
					</form>
  			</div>
			</div>

			<!--body-->
			<div class="container">
				<%= yield %>
			</div>

			<!--bottom-->
			<div class="navbar navbar-fixed-bottom">
				<div class="navbar-inner">
        	<div class="container">
						
					</div>
				</div>
			</div>
	
		</div>
	</div>

	


</body>
</html>
